[submodule "JavaGenericsAndCollectionsHometask1"]
	path = JavaGenericsAndCollectionsHometask1
	url = https://github.com/ancndz/JavaGenericsAndCollectionsHometask1
[submodule "JavaCrocFilesAndExceptionsHometask3"]
	path = JavaCrocFilesAndExceptionsHometask3
	url = https://github.com/ancndz/JavaCrocFilesAndExceptionsHometask3
