[submodule "JavaGenericsAndCollectionsHometask1"]
	path = JavaGenericsAndCollectionsHometask1
	url = https://github.com/ancndz/JavaGenericsAndCollectionsHometask1
[submodule "JavaCrocFilesAndExceptionsHometask3"]
	path = JavaCrocFilesAndExceptionsHometask3
	url = https://github.com/ancndz/JavaCrocFilesAndExceptionsHometask3
[submodule "JavaCrocAnnotationsAndXMLHometask4"]
	path = JavaCrocAnnotationsAndXMLHometask4
	url = https://github.com/ancndz/JavaCrocAnnotationsAndXMLHometask4
[submodule "JavaCrocJDBCHomeTask5"]
	path = JavaCrocJDBCHomeTask5
	url = https://github.com/ancndz/JavaCrocJDBCHomeTask5
[submodule "JavaCrocThreadsHomeTask6"]
	path = JavaCrocThreadsHomeTask6
	url = https://github.com/ancndz/JavaCrocThreadsHomeTask6
